// Custom.scss
// Option A: Include all of Bootstrap

@import "node_modules/bootstrap/scss/bootstrap";


::-webkit-scrollbar {
  width: 0;
  background: transparent;
}


.scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 15px;
  height: 0;
  opacity: 0;
  background: linear-gradient(to top, #FFCB2B,  #FFA60F, #F5840C);
}

.clickScrollbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 15px;
  height: 100%;
  background: rgba(170, 170, 170, .356);
}

@media only screen and (max-width: 570px) {

  p {
    font-size: .9em;
  }
}